# General
.DS_Store 
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# The above is from https://github.com/github/gitignore/blob/main/Global/macOS.gitignore

# https://stackoverflow.com/a/65429032/13631346
Icon?
![iI]con[_a-zA-Z0-9]

# Media folders
/default/startup/emotes
/SousaPlayback\ Project/Clips/Black\ Octopus\ Sound\ -\ Free\ Samples\ Bundle
/SousaPlayback\ Project/Samples/Recorded
/SousaPlayback\ Project/Clips/Collab
/SousaPlayback\ Project/Backup
/SousaPlayback\ Project/SousaPlaybackPlugins.als


# Ableton Live Backups
/default/SousaPlayback\ template\ Project/Backup

# user presets folder. Defaults are stored in /default/presets
SousaFX/data/*
!SousaFX/data/.gitkeep
SousaVFX/data/*
!SousaVFX/data/.gitkeep

# allow built docs for ez github releases
# /SousaFX/.docs

# dotenv environment variables file
.env
.env.test
SousaVFX/code/.env
SousaVFX/code/.env.test
default/n4m_obs_rectime/code/.env

# node
default/n4m_obs_rectime/node_modules
default/n4m_obs_rectime/package-lock.json
default/n4m_obs_rectime/package.json
SousaVFX/code/node_modules
SousaVFX/code/package-lock.json
SousaVFX/code/package.json

