# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# The above is from https://github.com/github/gitignore/blob/main/Global/macOS.gitignore

# https://stackoverflow.com/a/65429032/13631346
Icon?
![iI]con[_a-zA-Z0-9]

# Media folders
/Sousastep Visual FX/media
/Sousastep Live Project/Samples
/Sousastep Live Project/Clips
/Sousastep Live Project/Backup
/Sousastep Live Project/Sousastep EP bounces
Sousastep Live Project/bounce
Sousastep Live Project/Presets/Audio Effects/Max Audio Effect/Imported

# bug in Live 11.2.10 https://www.reddit.com/r/ableton/comments/11ko7pd/comment/jb97vv0/?context=3
/Sousastep Live Project/Ableton Folder Info/

# GMaudio Devices https://maxforlive.com/library/device/6953/gmaudio-clipper
# https://discord.com/channels/792548621806600212/792553300258979901/1076973931300397186
/Sousastep\ Audio\ FX/patchers/GMaudio\ Clipper\ 1.1.amxd
/Sousastep\ Audio\ FX/patchers/GMaudio\ Clipper\ 2.0.amxd
/Sousastep\ Audio\ FX/patchers/GMaudio\ Clipper\ 2.0.amxd.maxpat
/Sousastep\ Audio\ FX/patchers/GMaudio\ Clipper\ 1.1.amxd.maxpat




